<% layout('layout') %>

<%- include header %>

<div id="content" class="container">
  <% if (level=="學生" ) {%>
  <div class="row">
    <div class="col pb-2">
      <div class="card border-light">
        <div class="card-body">
          <% if (configs[0].Value != "" ) {%>
          【公告】 <%= configs[0].Value %>
          <% } else { %>
          【暫無公告】
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-light">
        <div class="card-header bg-transparent border-light text-center">住宿申請</div>
        <div class="card-body">
          <p class="card-text">
            WIP

          </p>
          <a class="button logout" href="/logout">登出</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-light">
        <div class="card-header bg-transparent border-light text-center">留言板</div>
        <div class="card-body">
          <% for ( var i=0 ; i < comments.length ; i++){ %>
          <%= comments[i].S_ID %>
          <%= comments[i].Content %>
          <%= comments[i].When %>
          <% } %>
        </div>
        <div class="card-footer bg-transparent border-light" style="padding: 0!important;">
          <form name="comments" action="/comm" method="post" class="row">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="col flex-nowrap">
              <div class="input-group">
                <button class="btn btn-outline-light" type="button" id="button-addon2" style="border-top-left-radius: 0;"><%= username %></button>
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInputGroup1" placeholder="留言" required>
                  <label for="floatingInputGroup1">留言</label>
                </div>
                <input class="btn btn-outline-light" type="submit" id="button-addon2" style="border-top-right-radius: 0;" value="送出"></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>



  <!-- 在這裡弄學生頁面 -->
  <% } else if (level=="舍監" ) { %>
  <h3>This is Manager page</h3>
  <!-- 在這裡弄舍監頁面 -->

  <% } else if (level=="管理員" ) { %>
  <h3>This is Admin page</h3>
  <!-- 在這裡弄管理員頁面 -->
  <% } else { %>
  <!-- 正常來說不會跑來這 -->
  <h3>Something went wrong!!</h3>
  <h4>You should have level!</h4>
  <% } %>
</div>