<% layout('layout') %>

<%- include header %>

<div id="content" class="container">
  <% if (level=="學生" ) {%>
  <div class="row">
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-light text-bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Light card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="button logout" href="/logout">登出</a>
        </div>
      </div>
    </div>
    <div class="col">
      <% for ( var i=0 ; i < comments.length ; i++){ %>
      <%= comments[i].S_ID %>
      <%= comments[i].Content %>
      <%= comments[i].When %>
      <% } %>
      <%= configs[0].Value %>
    </div>
  </div>


  <form name="comments" action="/comm" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div>
      <label for="Content" class="label_text">insert Comment: </label>
      <input type="text" class="form_button" name="Content" id="Content" placeholder="Content" required>
    </div>
    <div>
      <input type="submit" class="form_button" name="submit" value="insert">
      <input type="reset" class="form_button" value="Reset">
    </div>
  </form>

  <!-- 在這裡弄學生頁面 -->
  <% } else if (level=="舍監" ) { %>
  <h3>This is Manager page</h3>
  <!-- 在這裡弄舍監頁面 -->

  <% } else if (level=="管理員" ) { %>
  <h3>This is Admin page</h3>
  <!-- 在這裡弄管理員頁面 -->
  <% } else { %>
  <!-- 正常來說不會跑來這 -->
  <h3>Something went wrong!!</h3>
  <h4>You should have level!</h4>
  <% } %>
</div>