<% layout('layout') %>

<%- include header %>

<%
function timestampConvert(date){
  return new Date(date).toLocaleString('zh-TW').replace(" ", "\n");
}
%>

<div id="content" class="container-fluid" style="max-height:500px; height:500px;">
  <div class="row" style="height:inherit">
    <div class="col" style="height:inherit">
      <div class="card border-light" style="height:inherit">
        <div class="card-header bg-transparent border-light text-center fs-2 d-flex">
          <div class="col ms-md-auto d-flex align-items-center justify-content-center">住宿申請</div>
          <% if (level=="舍監" || level=="管理員") { %>
          <div class="col-auto ms-md-auto">
            <button id="editRulesBtn" onclick="editRules()" class="button edit" style="margin:0;">
              <i class="material-icons fs-2">edit</i>
            </button>
            <button id="saveRulesBtn" onclick="saveRules()" class="button save" style="display:none">
              <i class="material-icons fs-2">save</i>
            </button>
          </div>
          <% } %>
        </div>
        <div class="card-body overflow-scroll hidescrollbar">
          <div id="RulesArea"><%- Rules %></div>
          <% if (level=="舍監" || level=="管理員") { %>
          <form method="post" action="/rules" id="editorArea" style="display:none;">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <textarea name="rules" id="editor"><%- Rules %></textarea>
            <script>
              var editorInstance;
              ClassicEditor
                .create(document.querySelector('#editor'), {
                  alignment: {
                    options: ['left', 'right', 'center', 'justify']
                  },
                  toolbar: {
                    items: [
                      'heading', 'fontfamily', 'fontsize', 'alignment', 'fontColor', 'fontBackgroundColor',
                      'bold', 'italic', 'strikethrough', 'underline', 'subscript', 'superscript', 'link',
                      'outdent', 'indent', 'bulletedList', 'numberedList', 'todoList', 'code', 'codeBlock',
                      'insertTable', 'blockQuote', 'undo', 'redo'
                    ],
                    shouldNotGroupWhenFull: true
                  }
                }).then(editor => {
                  editorInstance = editor; // Save for later use.
                })
                .catch(error => {
                  console.error(error);
                });
              $("#editor").hide();
            </script>
          </form>
          <% } %>
        </div>
        <% if (registers[0] == null) {%>
        <% if (level== "學生") { %>
        <div class="card-footer bg-transparent border-light" style="padding: 0;">
          <form method="post" action="/register">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="input-group flex-nowrap" style="margin: -1px; width:unset;">
              <label class="input-group-text bg-transparent col fs-2" style="border-top-left-radius: 0;" for="a">
                <input class="form-check-input mt-0" type="checkbox" value="" id="a" required>
                <span style="margin-left: 6px;">我已詳細閱讀住宿申請說明並同意</span>
              </label>
              <select id="b" name="D_ID" class="form-select fs-2" style="border-radius:0; max-width:200px;" required>
                <% for ( var k=0 ; k < dormitories.length ; k++){ %>
                <option class="fs-2" value="<%= dormitories[k].D_ID %>"><%= dormitories[k].Name %></option>
                <% } %>
              </select>
              <input type="submit" class="btn btn-outline-light form-control col-auto" style="border-top-right-radius: 0; max-width:60px;" value="申請" />
            </div>
          </form>
        </div>
        <% } %>
        <% } else { %>
        <div class="card-footer bg-transparent border-light" style="padding: 0;">
          <form method="post" action="/pay">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="pay" value="<%= registers[0].costs %>" />
            <div class="input-group flex-nowrap text-center" style="margin: -1px; width:unset;">
              <% if (registers[0].D_ID == null && registers[0].R_ID == null) { %>
              <span class="form-control col-auto" style="border-top-left-radius: 0;border-top-right-radius: 0;">目前狀態：待分配房間</span>
              <% } else if (registers[0].costs - registers[0].Payment != 0) { %>
              <span class="form-control col-auto" style="border-top-left-radius: 0;border-top-right-radius: 0;">目前狀態：待付款</span>
              <span class="form-control col-auto">分配至：<%= registers[0].Name %> <%= registers[0].R_ID %>房</span>
              <span class="form-control col-auto">待付金額：<%= registers[0].costs - registers[0].Payment %>元</span>
              <input type="submit" class="btn btn-outline-light form-control col-auto" style="border-top-right-radius: 0; max-width:100px;" value="線上付款" />
              <% } else { %>
                <span class="form-control col-auto" style="border-top-left-radius: 0;border-top-right-radius: 0;">目前狀態：已付款</span>

              <% } %>
            </div>
          </form>
        </div>
        <% } %>
      </div>
    </div>
    <div class="col" style="height:inherit">
      <div id="comments" class="card border-light" style="height:inherit">
        <div class="card-header bg-transparent border-light text-center fs-2">學生留言板</div>
        <div class="card-body container-fluid hidescrollbar overflow-scroll d-flex flex-column-reverse commentList">
          <% for ( var i=0 ; i < comments.length ; i++){ %>
          <div class="input-group flex flex-nowrap">
            <span class="input-group-text col-auto bg-transparent"><%= comments[i].S_ID %></span>
            <span class="input-group-text col bg-transparent"><%= comments[i].Content %></span>
            <span class="input-group-text col-auto bg-transparent"><%= timestampConvert(comments[i].When) %></span>
            <% if (level=="舍監" || level=="管理員") { %>
            <form id="delComm<%= comments[i].C_ID %>" action="/delete" method="post" style="display:none">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="hidden" name="commentID" value="<%= comments[i].C_ID %>">
            </form>
            <button onclick="$('#delComm<%= comments[i].C_ID %>').submit()" class="btn btn-outline-light">
              <i class="material-icons text-danger">delete</i>
            </button>
            <% } %>
          </div>
          <% } %>
        </div>
        <% if (level== "學生") { %>
        <div class="card-footer bg-transparent border-light" style="padding: 0!important;">
          <form action="/comm" method="post" class="row">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="col flex-nowrap">
              <div class="input-group" style="margin: -1px;width: unset;">
                <button class="btn btn-outline-light fs-2" type="button" id="button-addon2" style="border-top-left-radius: 0;"><%= username %></button>
                <div class="form-floating">
                  <input name="Content" type="text" class="form-control fs-2" id="comment" placeholder="留言" required>
                  <label for="comment" class="fs-2">留言</label>
                </div>
                <input class="btn btn-outline-light fs-2" type="submit" id="button-addon2" style="border-top-right-radius: 0;" value="送出"></button>
              </div>
            </div>
          </form>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>

<div style="height:20px;"></div>

<script>
  function editRules() {
    $("#editorArea").show();
    $("#RulesArea").hide();
    $("#editRulesBtn").hide();
    $("#saveRulesBtn").show();
  }

  function saveRules() {
    if ($("#RulesArea")[0].innerHTML == editorInstance.getData()) {
      $("#editorArea").hide();
      $("#RulesArea").show();
      $("#editRulesBtn").show();
      $("#saveRulesBtn").hide();
    } else {
      $("#editorArea").submit();
    }
  }
</script>