<% layout('layout') %>

<%- include header %>

<div id="content" class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card border-light">
        <ul class="nav nav-pills nav-fill" id="myTab" role="tablist" style="border-bottom: 1px solid white;">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#dormitories" type="button" aria-selected="true">宿舍管理</button>
          </li>
          <% if (level=="管理員") { %>
          <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#managers" type="button">舍監管理</button>
          </li>
          <% } %>
          <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#students" type="button">學生列表管理</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#registers" type="button">宿舍申請管理</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="dormitories">
            <table>
              <tr>
                <th>D_ID</th>
                <th>Name</th>
              </tr>
              <% for ( var i=0 ; i < dormitories.length ; i++){ %>
              <tr>
                <td>
                  <%= dormitories[i].D_ID %>
                </td>
                <td>
                  <%= dormitories[i].Name %>
                </td>
              </tr>
              <% } %>
            </table>

            <table>
              <tr>
                <th>R_ID</th>
                <th>D_ID</th>
                <th>Peoples</th>
                <th>Costs</th>
              </tr>
              <% for ( var i=0 ; i < rooms.length ; i++){ %>
              <tr>
                <td>
                  <%= rooms[i].R_ID %>
                </td>
                <td>
                  <%= rooms[i].D_ID %>
                </td>
                <td>
                  <%= rooms[i].Peoples %>
                </td>
                <td>
                  <%= rooms[i].Costs %>
                </td>
              </tr>
              <% } %>
            </table>


            <table>
              <tr>
                <th>RC_ID</th>
                <th>R_ID</th>
                <th>Name</th>
                <th>Amount</th>
              </tr>
              <% for ( var i=0 ; i < room_contents.length ; i++){ %>
              <tr>
                <td>
                  <%= room_contents[i].RC_ID %>
                </td>
                <td>
                  <%= room_contents[i].R_ID %>
                </td>
                <td>
                  <%= room_contents[i].Name %>
                </td>
                <td>
                  <%= room_contents[i].Amount %>
                </td>
              </tr>
              <% } %>
            </table>
          </div>
          <% if (level=="管理員") { %>
          <div class="tab-pane fade" id="managers">

            <form method="post" id="updateManager" action="/ManagerUpdate" style="display:none" class="input-group">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input name="M_ID" type="hidden" class="form-control fs-2" value="" style="border-top-left-radius: 0" />
              <input name="Name" type="hidden" class="form-control fs-2" value="" />
              <input name="Email" type="hidden" class="form-control fs-2" value="" />
              <input name="Phone" type="hidden" class="form-control fs-2" value="" />
              <input name="Password" type="hidden" class="form-control fs-2" value="" />
            </form>

            <% for ( var i=0 ; i < managers.length ; i++){ %>
            <form method="post" id="delManager<%= managers[i].M_ID %>" action="/delete" style="display:none">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="hidden" name="M_ID" value="<%= managers[i].M_ID %>">
            </form>
            <% } %>
            <table class="table mb-0">
              <thead>
                <th>舍監編號</th>
                <th>舍監名稱</th>
                <th>信箱</th>
                <th>手機號碼</th>
                <th>密碼</th>
                <th style="text-align: right">功能</th>
              </thead>
              <tbody class="align-middle">
                <% for ( var i=0 ; i < managers.length ; i++){ %>
                <tr id="ManagerEdit<%= managers[i].M_ID %>" style="display:none;">
                  <td><input name="M_ID" type="text" class="form-control fs-2" value="<%= managers[i].M_ID %>" placeholder="舍監編號" style="border-top-left-radius: 0" required /></td>
                  <td><input name="Name" type="text" class="form-control fs-2" value="<%= managers[i].Name %>" placeholder="舍監名稱" required /></td>
                  <td><input name="Email" type="text" class="form-control fs-2" value="<%= managers[i].Email %>" placeholder="信箱" required /></td>
                  <td><input name="Phone" type="text" class="form-control fs-2" value="<%= managers[i].Phone %>" placeholder="手機號碼" required /></td>
                  <td><input name="Password" type="text" class="form-control fs-2" value="<%= managers[i].Password %>" placeholder="密碼" required /></td>

                  <td style="text-align: right">
                    <button id="saveRulesBtn" onclick="saveManager('<%= managers[i].M_ID %>')" class="button save">
                      <i class="material-icons fs-2">save</i>
                    </button>
                    <button class="button logout" onclick="$('#delManager<%= managers[i].M_ID %>').submit()">
                      <i class="material-icons fs-2">delete</i>
                    </button>
                  </td>
                </tr>
                <tr id="ManagerRecord<%= managers[i].M_ID %>">
                  <td><%= managers[i].M_ID %></td>
                  <td><%= managers[i].Name %></td>
                  <td><%= managers[i].Email %></td>
                  <td><%= managers[i].Phone %></td>
                  <td><%= managers[i].Password %></td>
                  <td style="text-align: right">
                    <button id="editRulesBtn" onclick="editManager('<%= managers[i].M_ID %>')" class="button edit" style="margin:0;">
                      <i class="material-icons fs-2">edit</i>
                    </button>
                    <button class="button logout" onclick="$('#delManager<%= managers[i].M_ID %>').submit()" style="margin-left: 10px;">
                      <i class="material-icons fs-2">delete</i>
                    </button>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
            <form class="input-group" onsubmit="addManagerValidate()" style="margin: -1px -1px -1px 0; width:unset;" action="/manage" method="post" id="addManager">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input name="M_ID" maxlength="10" type="text" class="form-control fs-2" placeholder="舍監編號" style="border-top-left-radius: 0" required />
              <input name="Name" maxlength="10" type="text" class="form-control fs-2" placeholder="舍監名稱" required />
              <input name="Email" maxlength="100" type="text" class="form-control fs-2" placeholder="信箱" required />
              <input name="Phone" maxlength="20" type="text" class="form-control fs-2" placeholder="手機號碼" required />
              <input name="Password" maxlength="50" type="text" class="form-control fs-2" placeholder="密碼" required />
              <button id="saveRulesBtn" onclick="addManagerValidate()" class="button save" style="border-top-right-radius: 0; border-bottom-right-radius: 5px">
                <i class="material-icons fs-2">add</i>
              </button>
            </form>
          </div>
          <% } %>
          <div class="tab-pane fade" id="students">
            <table>
              <tr>
                <th>S_ID</th>
                <th>Name</th>
                <th>Year</th>
                <th>Dept_Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Sex</th>
                <th>R_ID</th>
                <th>Password</th>
              </tr>
              <% for ( var i=0 ; i < students.length ; i++){ %>
              <tr>
                <td>
                  <%= students[i].S_ID %>
                </td>
                <td>
                  <%= students[i].Name %>
                </td>
                <td>
                  <%= students[i].Year %>
                </td>
                <td>
                  <%= students[i].Dept_Name %>
                </td>
                <td>
                  <%= students[i].Email %>
                </td>
                <td>
                  <%= students[i].Phone %>
                </td>
                <td>
                  <%= students[i].Sex %>
                </td>
                <td>
                  <%= students[i].R_ID %>
                </td>
                <td>
                  <%= students[i].Password %>
                </td>
              </tr>
              <% } %>
            </table>
          </div>
          <div class="tab-pane fade" id="registers">
            <table>
              <tr>
                <th>Reg_ID</th>
                <th>S_ID</th>
                <th>Year</th>
                <th>Term</th>
                <th>When</th>
                <th>Approved</th>
                <th>Payment</th>
              </tr>
              <% for ( var i=0 ; i < registers.length ; i++){ %>
              <tr>
                <td>
                  <%= registers[i].S_ID %>
                </td>
                <td>
                  <%= registers[i].Name %>
                </td>
                <td>
                  <%= registers[i].Year %>
                </td>
                <td>
                  <%= registers[i].Dept_Name %>
                </td>
                <td>
                  <%= registers[i].Email %>
                </td>
                <td>
                  <%= registers[i].Phone %>
                </td>
                <td>
                  <%= registers[i].Sex %>
                </td>
              </tr>
              <% } %>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function editManager(M_ID) {
    $("#ManagerEdit" + M_ID).show();
    $("#ManagerRecord" + M_ID).hide();
  }

  function vaildateManagerEdit(M_ID) {
    checker = true;
    for (i = 0; i < 5; i++) {
      tmp = $("#ManagerEdit" + M_ID + " td input")[i].value.trim();
      if (tmp == "") return true;
      if (tmp != $("#ManagerRecord" + M_ID + " td")[i].innerText.trim()) {
        checker = false;
      }
    }
    return checker;
  }

  function saveManager(M_ID) {
    if (vaildateManagerEdit(M_ID)) {
      $("#ManagerEdit" + M_ID).hide();
      $("#ManagerRecord" + M_ID).show();
      for (i = 0; i < 5; i++) {
        $("#ManagerEdit" + M_ID + " td input")[i].value = $("#ManagerRecord" + M_ID + " td")[i].innerText;
      }
    } else {
      for (i = 0; i < 5; i++) {
        $("#updateManager input")[i + 1].value = $("#ManagerEdit" + M_ID + " td input")[i].value;
      }
      $("#updateManager").submit();
    }
  }

  function addManagerValidate() {
    for (i = 1; i <= 5; i++) {
      if ($("#addManager input")[i].value.trim() == "") {
        event.preventDefault();
        return false;
      }
    }
    return true;
  }
</script>