<% layout('layout') %>

<%- include header %>

<%
function timestampConvert(date){
  return new Date(date).toLocaleString('zh-TW').replace(" ", "\n");
}
%>

<div id="content" class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card border-light">
        <ul class="nav nav-pills nav-fill" id="myTab" role="tablist" style="border-bottom: 1px solid white;">
          <li class="nav-item">
            <button class="nav-link active fs-2" data-bs-toggle="tab" data-bs-target="#dormitories" type="button" aria-selected="true">宿舍管理</button>
          </li>
          <li class="nav-item">
            <button class="nav-link fs-2" data-bs-toggle="tab" data-bs-target="#violations" type="button">違規紀錄管理</button>
          </li>
          <% if (level=="管理員") { %>
          <li class="nav-item">
            <button class="nav-link fs-2" data-bs-toggle="tab" data-bs-target="#managers" type="button">舍監管理</button>
          </li>
          <li class="nav-item">
            <button class="nav-link fs-2" data-bs-toggle="tab" data-bs-target="#students" type="button">學生列表管理</button>
          </li>
          <li class="nav-item">
            <button class="nav-link fs-2" data-bs-toggle="tab" data-bs-target="#registers" type="button">宿舍申請管理</button>
          </li>
          <li class="nav-item">
            <button class="nav-link fs-2" data-bs-toggle="tab" data-bs-target="#SysSetting" type="button">系統設定</button>
          </li>
          <% } %>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="dormitories">
            <% if (level=="管理員") { %>
            <form class="input-group" method="post" action="/newDorm" id="newDorm">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input name="Name" value="" class="form-control fs-2" style="margin-top:-1px;" placeholder="宿舍名稱" />
              <button onclick="$('#newDorm').submit();" class="button lodge fs-2" style="border-top-right-radius: 0; border-bottom-right-radius: 5px">新增宿舍</button>
            </form>
            <% } %>

            <div class="input-group text-center" style="margin: -1px; width: unset; ">
              <span class="form-control fs-2" style="border-radius:0; background-color: #555;">宿舍列表</span>
            </div>
            <nav style="border-bottom: 1px solid white;">
              <div class="nav nav-pills flex-column flex-sm-row">
                <% for ( var i=0 ; i < dormitories.length ; i++){ %>
                <% if((permissions.get(dormitories[i].D_ID) != undefined && permissions.get(dormitories[i].D_ID).includes(username)) || level=="管理員") { %>
                <button class='flex-sm-fill text-sm-center nav-link fs-2 <%= i == 0 ? "active" : "" %>' id="dorm<%= dormitories[i].D_ID %>" type="button" data-bs-toggle="tab" data-bs-target="#dormList<%= dormitories[i].D_ID %>"><%= dormitories[i].Name %></button>
                <% } %>
                <% } %>
              </div>
            </nav>
            <div class="tab-content">
              <% for ( var i=0 ; i < dormitories.length ; i++){ %>
              <% DormData = dormitories[i] %>
              <% if((permissions.get(DormData.D_ID) != undefined && permissions.get(DormData.D_ID).includes(username)) || level=="管理員") { %>
              <div class='tab-pane fade <%= i == 0 ? "show active" : "" %>' id="dormList<%= DormData.D_ID %>" tabindex="<%= DormData[0] %>">
                <div class="accordion accordion-flush" id="dormAccrodion<%= DormData.D_ID %>">
                  <% if (rooms.get(DormData.D_ID) != undefined) { %>
                  <% for ( var o=0 ; o < rooms.get(DormData.D_ID).length ; o++){ %>
                  <% RoomData = rooms.get(DormData.D_ID)[o] %>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button id="roomAccrodionBtn<%= DormData.D_ID + "_" + RoomData[0] %>" class="accordion-button collapsed text-center fs-2" data-bs-parent="#dormAccrodion<%= DormData.D_ID %>" style="display:block;" type="button" data-bs-toggle="collapse" data-bs-target="#room<%= DormData.D_ID + "_" + RoomData[0] %>"><%= RoomData[0] %> 號房</button>
                    </h2>
                    <div id="room<%= DormData.D_ID + "_" + RoomData[0] %>" class='accordion-collapse collapse' aria-labelledby="#roomAccrodionBtn<%= DormData.D_ID + "_" + RoomData[0] %>" data-bs-parent="#dormAccrodion<%= DormData.D_ID %>">
                      <div class="accordion-body p-0">
                        <% if (level=="管理員") { %>
                        <div class="input-group text-center" style="margin: -1px; width: unset;">
                          <span class="form-control fs-2" style="border-radius:0; border-bottom:0; background-color: #555;">房間資訊</span>
                          <form method="post" id="deleteRoom<%= DormData.D_ID %>_<%= RoomData[0] %>" method="post" action="/delete">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <input type="hidden" name="D_ID" value="<%= DormData.D_ID %>">
                            <input type="hidden" name="R_ID" value="<%= RoomData[0] %>">
                            <button class="button logout fs-2" onclick="$('#deleteRoom<%= DormData.D_ID %>_<%= RoomData[0] %>').submit()" style="border-radius: 0;">刪除房間</button>
                          </form>
                        </div>
                        <form autocomplete="off" id="roomModify<%= DormData.D_ID + "_" + RoomData[0] %>" class="input-group" style="margin: -1px -1px -1px 0; width: unset;" method="post" action="/roomUpdate">
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <input type="hidden" name="D_ID" value="<%= DormData.D_ID %>">
                          <input type="hidden" name="R_ID" value="<%= RoomData[0] %>">
                          <select name="new_D_ID" class="form-select fs-2" style="border-radius:0;">
                            <% for ( var k=0 ; k < dormitories.length ; k++){ %>
                            <option class="fs-2" value="<%= dormitories[k].D_ID %>" <%= dormitories[k].D_ID == DormData.D_ID  ? "selected" : "" %>><%= dormitories[k].Name %></option>
                            <% } %>
                          </select>
                          <span class="input-group-text fs-2 bg-transparent">房號</span>
                          <input class="form-control text-center fs-2" name="new_R_ID" value="<%= RoomData[0] %>" />
                          <span class="input-group-text fs-2 bg-transparent" style="border-radius:0;">可容納人數</span>
                          <input class="form-control text-center fs-2" name="Peoples" value="<%= RoomData[1] %>" />
                          <span class="input-group-text fs-2 bg-transparent">入住價格</span>
                          <input class="form-control text-center fs-2" name="Costs" value="<%= RoomData[2] %>" />

                          <button onclick="$('#roomModify<%= DormData.D_ID + '_' + RoomData[0] %>').submit()" style="border-radius:0;" class="button save">
                            <i class="material-icons fs-2">save</i>
                          </button>
                        </form>
                        <% } %>

                        <div class="input-group text-center" style="margin: -1px; width: unset;">
                          <span class="form-control fs-2" style="border-radius:0; background-color: #555;">住宿生列表</span>
                        </div>
                        <table class="table mb-0">
                          <thead class="fs-2 text-center">
                            <th style="border-right: 1px white solid;">學號</th>
                            <th style="border-right: 1px white solid;">姓名</th>
                            <th style="border-right: 1px white solid;">入學年</th>
                            <th style="border-right: 1px white solid;">科系</th>
                            <th style="border-right: 1px white solid;">信箱</th>
                            <th style="border-right: 1px white solid;">手機號碼</th>
                            <th>性別</th>
                          </thead>
                          <tbody>
                            <% for (j = 0; j < RoomData[3].length; j++) { %>
                            <% data = RoomData[3][j] %>
                            <tr class="fs-2">
                              <td style="border-right: 1px white solid;"><%= data.S_ID %></td>
                              <td style="border-right: 1px white solid;"><%= data.Name %></td>
                              <td style="border-right: 1px white solid;"><%= data.Year %></td>
                              <td style="border-right: 1px white solid;"><%= data.Dept_Name %></td>
                              <td style="border-right: 1px white solid;"><%= data.Email %></td>
                              <td style="border-right: 1px white solid;"><%= data.Phone %></td>
                              <td><%= data.Sex == 0 ? "男" : "女" %></td>
                            </tr>
                            <% } %>
                          </tbody>
                        </table>
                        <div class="input-group text-center" style="margin: -1px; width: unset;">
                          <span class="form-control fs-2" style="border-radius:0; background-color: #555;">設備列表</span>
                        </div>
                        <table class="table mb-0">
                          <thead>
                            <th class="fs-2 text-center" style="border-right: 1px white solid;">設備名稱</th>
                            <th class="fs-2 text-center" style="border-right: 1px white solid;">數量</th>
                            <% if (level=="管理員") { %>
                            <th class="fs-2" style="text-align: right">操作</th>
                            <% } %>
                          </thead>
                          <tbody>
                            <% DormRoomContentData = room_contents.get(DormData.D_ID) %>
                            <% if (DormRoomContentData != undefined) { %>
                            <% RoomContentData = DormRoomContentData.get(RoomData[0]) %>
                            <% if (RoomContentData != undefined) { %>
                            <% for ( var k=0 ; k < RoomContentData.length ; k++){ %>
                            <tr id="roomContent<%= RoomContentData[k][0] %>">
                              <td class="fs-2 text-center" style="border-right: 1px white solid;vertical-align: middle"><%= RoomContentData[k][1] %></td>
                              <td class="fs-2 text-center" style="vertical-align: middle; border-right: 1px white solid;"><%= RoomContentData[k][2] %></td>
                              <% if (level=="管理員") { %>
                              <td class="fs-2" style="text-align: right;">
                                <button onclick="editRoomContent('<%= RoomContentData[k][0] %>')" class="button edit" style="margin:0;">
                                  <i class="material-icons fs-2">edit</i>
                                </button>
                                <button class="button logout" onclick="deleteRoomContent('<%= RoomContentData[k][0] %>')" style="margin-left: 10px;">
                                  <i class="material-icons fs-2">delete</i>
                                </button>
                              </td>
                              <% } %>
                            </tr>
                            <% if (level=="管理員") { %>
                            <tr id="editRoomContent<%= RoomContentData[k][0] %>" style="display:none;">
                              <td class="fs-2 text-center" style="border-right: 1px white solid;vertical-align: middle">
                                <form autocomplete="off">
                                  <input name="Name" type="text" maxlength="100" class="form-control fs-2 text-center" value="<%= RoomContentData[k][1] %>" />
                                </form>
                              </td>
                              <td class="fs-2 text-center" style="vertical-align: middle; border-right: 1px white solid;">
                                <form autocomplete="off">
                                  <input name="Amount" type="number" class="form-control fs-2 text-center" value="<%= RoomContentData[k][2] %>" />
                                </form>
                              </td>
                              <td class="fs-2" style="text-align: right;">
                                <button id="saveRulesBtn" onclick="saveRoomContent('<%= RoomContentData[k][0] %>')" class="button save">
                                  <i class="material-icons fs-2">save</i>
                                </button>
                                <button class="button logout" onclick="deleteRoomContent('<%= RoomContentData[k][0] %>')">
                                  <i class="material-icons fs-2">delete</i>
                                </button>
                              </td>
                            </tr>
                            <% } %>
                            <% } %>
                            <% } %>
                            <% } %>
                          </tbody>
                        </table>
                        <form method="post" action="/delete" style="display:none;" id="delRoomContent">
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <input type="hidden" name="RC_ID" value="" />
                        </form>
                        <form method="post" action="/updateRoomContent" style="display:none;" id="updateRoomContent">
                          <input type="hidden" name="Name" value="" />
                          <input type="hidden" name="Amount" value="" />
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <input type="hidden" name="RC_ID" value="" />
                        </form>
                        <% if (level=="管理員") { %>
                        <form autocomplete="off" class="input-group" style="margin: -1px -1px -1px 0; width:unset;" action="/addRoomContent" method="post" id="RoomContent<%= RoomData[0] %>">
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <input type="hidden" name="D_ID" value="<%= DormData.D_ID %>">
                          <input type="hidden" name="R_ID" value="<%= RoomData[0] %>">
                          <input name="Name" maxlength="100" style="border-bottom-left-radius: 5px" type="text" class="form-control fs-2" placeholder="設備名稱" required />
                          <input name="Amount" type="number" class="form-control fs-2" placeholder="數量" required />
                          <button id="saveRulesBtn" onclick="$('#RoomContent<%= RoomData[0] %>').submit();" class="button save" style="border-top-right-radius: 0; border-bottom-right-radius: 5px">
                            <i class="material-icons fs-2">add</i>
                          </button>
                        </form>
                        <% } %>
                      </div>
                    </div>
                  </div>
                  <% } %>
                  <% } %>
                  <% if (level=="管理員") { %>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button id="DormManage<%= DormData.D_ID %>" class="accordion-button collapsed text-center fs-2" data-bs-parent="#DormManage<%= DormData.D_ID %>" style="display:block;" type="button" data-bs-toggle="collapse" data-bs-target="#DormSetting<%= DormData.D_ID %>">宿舍設定</button>
                    </h2>
                    <div id="DormSetting<%= DormData.D_ID %>" class='accordion-collapse collapse' aria-labelledby="#DormManage<%= DormData.D_ID %>" data-bs-parent="#dormAccrodion<%= DormData.D_ID %>">
                      <div class="accordion-body p-0">
                        <div class="row mt-2 mb-2">
                          <form id="renameDorm<%= DormData.D_ID %>" method="post" class="text-center col" style="margin: -1px;" action="/renameDorm">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>" required>
                            <input type="hidden" name="D_ID" value="<%= DormData.D_ID %>" required />
                            <div class="input-group" style="max-width:300px; margin:auto;">
                              <input type="text" class="fs-2 form-control" name="Name" value="<%= DormData.Name %>" required>
                              <button class="button lodge fs-2 form-control" style="max-width:100px;" onclick="$('#renameDorm<%= DormData.D_ID %>').submit()">修改名稱</button>
                            </div>
                          </form>
                          <form id="addRoom<%= DormData.D_ID %>" method="post" class="text-center col" style="margin: -1px;" action="/addRoom">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>" required>
                            <input type="hidden" name="D_ID" value="<%= DormData.D_ID %>" required />
                            <div class="input-group" style="max-width:500px; margin:auto;">
                              <input type="text" class="fs-2 form-control" name="R_ID" value="" placeholder="房號" required>
                              <input type="number" class="fs-2 form-control" min="0" name="Peoples" value="" placeholder="人數" required>
                              <input type="number" class="fs-2 form-control" min="0" name="Costs" value="" placeholder="價格" required>
                              <button class="button lodge fs-2 form-control" style="max-width:100px;" onclick="$('#addRoom<%= DormData.D_ID %>').submit()">新增房間</button>
                            </div>
                          </form>
                          <form id="deleteDorm<%= DormData.D_ID %>" method="post" class="text-center col" style="margin: -1px; width: unset; " action="/delete">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>" required>
                            <input type="hidden" name="D_ID" value="<%= DormData.D_ID %>" required />
                            <button class="button logout fs-2" onclick="$('#deleteDorm<%= DormData.D_ID %>').submit()">刪除宿舍</button>
                          </form>
                        </div>

                        <div class="input-group text-center" style="margin: -1px; width: unset; ">
                          <span class="form-control fs-2" style="border-radius:0; background-color: #444;">權限管理</span>
                        </div>

                        <form class="col d-flex mb-2 mt-2" style="margin: -1px; width: unset; justify-content: center;" action="/updatePerm" method="post" id="permissionlist<%= DormData.D_ID %>">
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>" required>
                          <input type="hidden" name="D_ID" value="<%= DormData.D_ID %>" required>
                          <% for ( var o=0 ; o < managers.length ; o++){ %>
                          <div class="form-check form-switch" style="margin-right:40px;">
                            <input class="form-check-input fs-2 mt-2 mb-2" name="M_ID" value="<%= managers[o].M_ID %>" type="checkbox" role="switch" id="managerPerm<%= DormData.D_ID + "_" + managers[o].M_ID %>" <%= permissions.get(DormData.D_ID) != undefined && permissions.get(DormData.D_ID).includes(managers[o].M_ID) ? "checked" : "" %>>
                            <label class="form-check-label fs-2 pt-2 pb-2" for="managerPerm<%= DormData.D_ID + "_" + managers[o].M_ID %>"><%= managers[o].Name %></label>
                          </div>
                          <% } %>
                          <button onclick="$('permissionlist<%= DormData.D_ID %>').submit();" class="button lodge">保存更新</button>
                        </form>
                      </div>
                    </div>
                  </div>
                  <% } %>
                </div>
              </div>
              <% } %>
              <% } %>
            </div>
          </div>
          <div class="tab-pane fade" id="violations">
            <table class="table mb-0">
              <tr class="fs-2">
                <th>學生編號</th>
                <th>違規事宜</th>
                <th>違規時間</th>
                <th style="text-align: right">功能</th>
              </tr>
              <% for ( var i=0 ; i < violations.length ; i++){ %>
              <tr class="fs-2" id="ViolateRecord<%= violations[i].V_ID %>">
                <td><%= violations[i].S_ID %></td>
                <td><%= violations[i].Content %></td>
                <% tmp = new Date(violations[i].When) %>
                <% tmp.setMinutes(violations[i].When.getMinutes() - violations[i].When.getTimezoneOffset()) %>
                <% tmp = tmp.toISOString().replace(/\.\d\d\dZ/, '') %>
                <td><%= timestampConvert(violations[i].When) %><div style="display:none"><%= tmp %></div></td>
                <td style="text-align: right">
                  <button onclick="editViolation('<%= violations[i].V_ID %>')" class="button edit" style="margin:0;">
                    <i class="material-icons fs-2">edit</i>
                  </button>
                  <button class="button logout" onclick="$('#delViolation<%= violations[i].V_ID %>').submit()" style="margin-left: 10px;">
                    <i class="material-icons fs-2">delete</i>
                  </button>
                  <form method="post" style="display:none;" action="/delete" id="delViolation<%= violations[i].V_ID %>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="V_ID" value="<%= violations[i].V_ID %>">
                  </form>
                </td>
              </tr>
              <tr class="fs-2" id="ViolateEdit<%= violations[i].V_ID %>" style="display:none">
                <td><input class="form-control fs-2" value="<%= violations[i].S_ID %>" /></td>
                <td><input class="form-control fs-2" value="<%= violations[i].Content %>" /></td>
                <td><input class="form-control fs-2" type="datetime-local" step=1 value="<%= tmp %>" /></td>
                <td style="text-align: right">
                  <button onclick="saveViolation('<%= violations[i].V_ID %>')" class="button save" style="margin:0;">
                    <i class="material-icons fs-2">save</i>
                  </button>
                  <button class="button logout" onclick="$('#delViolation<%= violations[i].V_ID %>').submit()" style="margin-left: 10px;">
                    <i class="material-icons fs-2">delete</i>
                  </button>
                  <form method="post" style="display:none;" action="/delete" id="delViolation<%= violations[i].V_ID %>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="V_ID" value="<%= violations[i].V_ID %>">
                  </form>
                </td>
              </tr>
              </tr>
              <% } %>
            </table>
            <form id="updateViolation" method="post" action="/updateViolation" style="display:none;">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="hidden" name="S_ID" value="">
              <input type="hidden" name="Content" value="">
              <input type="hidden" name="When" value="">
              <input type="hidden" name="V_ID" value="">
            </form>
            <form autocomplete="off" class="input-group" style="margin: -1px -1px -1px 0; width:unset;" action="/addViolations" method="post" id="addViolations">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <datalist id="studentslist">
                <% for (i = 0; i < students.length; i++) { %>
                <option value="<%= students[i].S_ID %>" />
                <% } %>
              </datalist>
              <input name="S_ID" list="studentslist" maxlength="10" style="border-bottom-left-radius: 5px; max-width:150px;" type="text" class="form-control fs-2" placeholder="學生編號" required />
              <input name="Content" maxlength="10" style="border-bottom-right-radius: 5px" type="text" class="form-control fs-2" placeholder="違規事宜" required />
              <button id="saveRulesBtn" onclick="$('#addViolations').submit();" class="button save" style="border-top-right-radius: 0; border-bottom-right-radius: 5px">
                <i class="material-icons fs-2">add</i>
              </button>
            </form>
          </div>
          <% if (level=="管理員") { %>
          <div class="tab-pane fade" id="managers">
            <form method="post" id="updateManager" action="/ManagerUpdate" style="display:none" class="input-group">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input name="M_ID" type="hidden" class="form-control fs-2" value="" style="border-top-left-radius: 0" />
              <input name="Name" type="hidden" class="form-control fs-2" value="" />
              <input name="Email" type="hidden" class="form-control fs-2" value="" />
              <input name="Phone" type="hidden" class="form-control fs-2" value="" />
              <input name="Password" type="hidden" class="form-control fs-2" value="" />
              <input name="OriginalM_ID" type="hidden" class="form-control fs-2" value="" />
            </form>

            <% for ( var i=0 ; i < managers.length ; i++){ %>
            <form method="post" id="delManager<%= managers[i].M_ID %>" action="/delete" style="display:none">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="hidden" name="M_ID" value="<%= managers[i].M_ID %>">
            </form>
            <% } %>
            <table class="table mb-0">
              <thead class="fs-2">
                <th>舍監編號</th>
                <th>舍監名稱</th>
                <th>信箱</th>
                <th>手機號碼</th>
                <th>密碼</th>
                <th style="text-align: right">功能</th>
              </thead>
              <tbody class="align-middle">
                <% for ( var i=0 ; i < managers.length ; i++){ %>
                <tr id="ManagerEdit<%= managers[i].M_ID %>" style="display:none;">
                  <td><input name="M_ID" type="text" class="form-control fs-2" value="<%= managers[i].M_ID %>" placeholder="舍監編號" style="border-top-left-radius: 0" required /></td>
                  <td><input name="Name" type="text" class="form-control fs-2" value="<%= managers[i].Name %>" placeholder="舍監名稱" required /></td>
                  <td><input name="Email" type="text" class="form-control fs-2" value="<%= managers[i].Email %>" placeholder="信箱" required /></td>
                  <td><input name="Phone" type="text" class="form-control fs-2" value="<%= managers[i].Phone %>" placeholder="手機號碼" required /></td>
                  <td><input name="Password" type="text" class="form-control fs-2" value="<%= managers[i].Password %>" placeholder="密碼" required /></td>

                  <td style="text-align: right">
                    <button id="saveRulesBtn" onclick="saveManager('<%= managers[i].M_ID %>')" class="button save">
                      <i class="material-icons fs-2">save</i>
                    </button>
                    <button class="button logout" onclick="$('#delManager<%= managers[i].M_ID %>').submit()">
                      <i class="material-icons fs-2">delete</i>
                    </button>
                  </td>
                </tr>
                <tr class="fs-2" id="ManagerRecord<%= managers[i].M_ID %>">
                  <td><%= managers[i].M_ID %></td>
                  <td><%= managers[i].Name %></td>
                  <td><%= managers[i].Email %></td>
                  <td><%= managers[i].Phone %></td>
                  <td><%= managers[i].Password %></td>
                  <td style="text-align: right">
                    <button onclick="editManager('<%= managers[i].M_ID %>')" class="button edit" style="margin:0;">
                      <i class="material-icons fs-2">edit</i>
                    </button>
                    <button class="button logout" onclick="$('#delManager<%= managers[i].M_ID %>').submit()" style="margin-left: 10px;">
                      <i class="material-icons fs-2">delete</i>
                    </button>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
            <form autocomplete="off" class="input-group" onsubmit="addManagerValidate()" style="margin: -1px -1px -1px 0; width:unset;" action="/manage" method="post" id="addManager">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input name="M_ID" maxlength="10" type="text" class="form-control fs-2" placeholder="舍監編號" style="border-top-left-radius: 0;border-bottom-left-radius: 5px" required />
              <input name="Name" maxlength="10" type="text" class="form-control fs-2" placeholder="舍監名稱" required />
              <input name="Email" maxlength="100" type="text" class="form-control fs-2" placeholder="信箱" required />
              <input name="Phone" maxlength="20" type="text" class="form-control fs-2" placeholder="手機號碼" required />
              <input name="Password" maxlength="50" type="text" class="form-control fs-2" placeholder="密碼" required />
              <button id="saveRulesBtn" onclick="addManagerValidate()" class="button save" style="border-top-right-radius: 0; border-bottom-right-radius: 5px">
                <i class="material-icons fs-2">add</i>
              </button>
            </form>
          </div>
          <div class="tab-pane fade" id="students">
            <form method="post" id="updateStudent" action="/StudentUpdate" style="display:none" class="input-group">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input name="S_ID" type="hidden" class="form-control fs-2" value="" style="border-top-left-radius: 0" />
              <input name="Name" type="hidden" class="form-control fs-2" value="" />
              <input name="Year" type="hidden" class="form-control fs-2" value="" />
              <input name="Dept_Name" type="hidden" class="form-control fs-2" value="" />
              <input name="Email" type="hidden" class="form-control fs-2" value="" />
              <input name="Phone" type="hidden" class="form-control fs-2" value="" />
              <input name="Password" type="hidden" class="form-control fs-2" value="" />
              <input name="Sex" type="hidden" class="form-control fs-2" value="" />
              <input name="D_ID" type="hidden" class="form-control fs-2" value="" />
              <input name="R_ID" type="hidden" class="form-control fs-2" value="" />
              <input name="OriginalS_ID" type="hidden" class="form-control fs-2" value="" />
            </form>

            <% for ( var i=0 ; i < students.length ; i++){ %>
            <form method="post" id="delStudent<%= students[i].S_ID %>" action="/delete" style="display:none">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="hidden" name="S_ID" value="<%= students[i].S_ID %>">
            </form>
            <% } %>
            <table class="table mb-0">
              <thead class="fs-2">
                <th>學生編號</th>
                <th>學生姓名</th>
                <th>入學年</th>
                <th>科系</th>
                <th>信箱</th>
                <th>手機號碼</th>
                <th>性別</th>
                <th>宿舍</th>
                <th>房間</th>
                <th>密碼</th>
                <th style="text-align: right">功能</th>
              </thead>
              <tbody class="align-middle">
                <% for ( var i=0 ; i < students.length ; i++){ %>
                <tr id="StudentEdit<%= students[i].S_ID %>" style="display:none;">
                  <td><input name="S_ID" style="max-width:120px;" type="text" class="form-control fs-2" value="<%= students[i].S_ID %>" placeholder="學生編號" style="border-top-left-radius: 0" required /></td>
                  <td><input name="Name" style="max-width:100px;" type="text" class="form-control fs-2" value="<%= students[i].Name %>" placeholder="學生姓名" required /></td>
                  <td><input name="Year" style="max-width:75px;" type="text" class="form-control fs-2" value="<%= students[i].Year %>" placeholder="入學年" required /></td>
                  <td><input name="Dept_Name" style="max-width:130px;" type="text" class="form-control fs-2" value="<%= students[i].Dept_Name %>" placeholder="科系" required /></td>
                  <td><input name="Email" type="text" class="form-control fs-2" value="<%= students[i].Email %>" placeholder="信箱" required /></td>
                  <td><input name="Phone" style="max-width:125px;" type="text" class="form-control fs-2" value="<%= students[i].Phone %>" placeholder="手機號碼" required /></td>
                  <td>
                    <select name="Sex" class="form-select fs-2" style="border-radius:0;">
                      <option class="fs-2" value="0" <%= students[i].Sex == 0 ? "selected" : "" %>>男</option>
                      <option class="fs-2" value="1" <%= students[i].Sex == 1 ? "selected" : "" %>>女</option>
                    </select>
                  </td>
                  <td>
                    <select id="dormList<%= students[i].S_ID %>" name="D_ID" onchange="roomlist('<%= students[i].S_ID %>')" class="form-select fs-2" style="border-radius:0;">
                      <option class="fs-2" value="null" <%= students[i].D_ID == null  ? "selected" : "" %>>無宿舍</option>
                      <% for ( var k=0 ; k < dormitories.length ; k++){ %>
                      <option class="fs-2" value="<%= dormitories[k].D_ID %>" <%= dormitories[k].D_ID == students[i].D_ID  ? "selected" : "" %>><%= dormitories[k].Name %></option>
                      <% } %>
                    </select>
                  </td>
                  <td>
                    <select name="R_ID" class="form-select fs-2" style="border-radius:0;" id="roomlist<%= students[i].S_ID %>" <%= students[i].R_ID == null && students[i].D_ID == null  ? "disabled" : "" %>>
                      <option class="fs-2" value="null" <%= students[i].R_ID == null && students[i].D_ID == null  ? "selected" : "" %>>無房間</option>
                      <% roomData = rooms.get(students[i].D_ID) %>
                      <% if (students[i].D_ID != null) { %> <%- roomData.map(x => {return `<option class="fs-2" value="${x[0]}" ${x[0] == students[i].R_ID ? "selected" : ""}>${x[0]}</option>`}).join("\n") %><% }%>
                    </select>
                  </td>
                  <td><input name="Password" style="max-width:100px;" type="text" class="form-control fs-2" value="<%= students[i].Password %>" placeholder="密碼" required /></td>

                  <td style="text-align: right">
                    <button onclick="saveStudent('<%= students[i].S_ID %>')" class="button save">
                      <i class="material-icons fs-2">save</i>
                    </button>
                    <button class="button logout" onclick="$('#delStudent<%= students[i].S_ID %>').submit()">
                      <i class="material-icons fs-2">delete</i>
                    </button>
                  </td>
                </tr>
                <tr class="fs-2" id="StudentRecord<%= students[i].S_ID %>">
                  <td><%= students[i].S_ID %></td>
                  <td><%= students[i].Name %></td>
                  <td><%= students[i].Year %></td>
                  <td><%= students[i].Dept_Name %></td>
                  <td><%= students[i].Email %></td>
                  <td><%= students[i].Phone %></td>
                  <td><%= students[i].Sex == 0 ? "男" : "女" %><div style="display:none;"><%= students[i].Sex %></div>
                  </td>
                  <td><%= students[i].D_ID != null ? dormitories.map(o=>{return students[i].D_ID == o.D_ID ? o.Name : ""}).join("") : "無宿舍" %><div style="display:none;"><%= students[i].D_ID %></div>
                  </td>
                  <td><%= students[i].R_ID != null ? students[i].R_ID : "無房間" %><div style="display:none;"><%= students[i].R_ID %></div>
                  </td>
                  <td><%= students[i].Password %></td>
                  <td style="text-align: right">
                    <button onclick="editStudent('<%= students[i].S_ID %>')" class="button edit" style="margin:0;">
                      <i class="material-icons fs-2">edit</i>
                    </button>
                    <button class="button logout" onclick="$('#delStudent<%= students[i].S_ID %>').submit()" style="margin-left: 10px;">
                      <i class="material-icons fs-2">delete</i>
                    </button>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
            <form autocomplete="off" class="input-group" onsubmit="addStudentValidate()" style="margin: -1px -1px -1px 0; width:unset;" action="/addStudent" method="post" id="addStudent">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input name="S_ID" maxlength="10" type="text" class="form-control fs-2" placeholder="學生編號" style="border-top-left-radius: 0;border-bottom-left-radius: 5px" required />
              <input name="Name" maxlength="24" type="text" class="form-control fs-2" placeholder="學生姓名" required />
              <input name="Year" type="number" class="form-control fs-2" placeholder="入學年" required />
              <input name="Dept_Name" maxlength="25" type="text" class="form-control fs-2" placeholder="科系" required />
              <input name="Email" maxlength="100" type="text" class="form-control fs-2" placeholder="信箱" required />
              <input name="Phone" maxlength="20" type="text" class="form-control fs-2" placeholder="手機號碼" required />
              <select name="Sex" class="form-select fs-2" style="border-radius:0;">
                <option class="fs-2" value="0" selected>男</option>
                <option class="fs-2" value="1">女</option>
              </select>
              <select id="dormListNewNewNewNewNewNewNewNew" name="D_ID" onchange="roomlist('NewNewNewNewNewNewNewNew')" class="form-select fs-2" style="border-radius:0;">
                <option class="fs-2" value="null">無宿舍</option>
                <% for ( var k=0 ; k < dormitories.length ; k++){ %>
                <option class="fs-2" value="<%= dormitories[k].D_ID %>"><%= dormitories[k].Name %></option>
                <% } %>
              </select>
              <select name="R_ID" class="form-select fs-2" style="border-radius:0;" id="roomlistNewNewNewNewNewNewNewNew" disabled>
                <option class="fs-2" value="null">無房間</option>
              </select>
              <input name="Password" maxlength="50" type="text" class="form-control fs-2" placeholder="密碼" required />
              <button id="saveRulesBtn" onclick="addStudentValidate()" class="button save" style="border-top-right-radius: 0; border-bottom-right-radius: 5px">
                <i class="material-icons fs-2">add</i>
              </button>
            </form>
          </div>
          <div class="tab-pane fade" id="registers">
            <table class="table mb-0" style="vertical-align: middle;">
              <tr class="fs-2">
                <th>學生編號</th>
                <th>住宿學年</th>
                <th>住宿學期</th>
                <th>期望宿舍</th>
                <th>批准狀態</th>
                <th>房間價格</th>
                <th>已付款金額</th>
                <th>申請時間</th>
                <th style="text-align: right">功能</th>
              </tr>
              <% for ( var i=0 ; i < registers.length ; i++){ %>
              <tr class="fs-2">
                <td><%= registers[i].S_ID %></td>
                <td><%= registers[i].Year %></td>
                <td><%= registers[i].Term %></td>
                <td><%= registers[i].req_Name %></td>
                <% if (registers[i].D_ID == null && registers[i].R_ID == null) { %>
                <td>待分配房間</td>
                <% } else { %>
                <td><%= registers[i].costs == registers[i].Payment ? "已付款" : "待付款" %></td>
                <% } %>
                <td><%= registers[i].costs == null ? "0" : registers[i].costs %></td>
                <td><%= registers[i].Payment %></td>
                <td><%= timestampConvert(registers[i].When) %></td>
                <td style="text-align: right">
                  <form method="post" action="/delete" id="quitReg<%= registers[i].S_ID %>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="S_ID" value="<%= registers[i].S_ID %>">
                    <input type="hidden" name="Reg_ID" value="<%= registers[i].Reg_ID %>">
                    <button class="button logout" onclick="$('#quitReg<%= registers[i].S_ID %>').submit()">退宿</button>
                  </form>
                </td>
              </tr>
              <% } %>
            </table>
          </div>
          <div class="tab-pane fade" id="SysSetting">
            <form autocomplete="off" class="input-group" method="post" action="/updateSetting" id="sysSettings">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <span class="input-group-text fs-2 bg-transparent fs-2">學年度修改</span>
              <input type="number" class="form-control fs-2" name="Year" placeholder="目前學年度" value="<%= configs.get("Year") %>"/>
              <span class="input-group-text bg-transparent fs-2">學期修改</span>
              <select class="form-select fs-2" name="Term">
                <option value="1" <%= configs.get("Term") == 1 ? "selected" : "" %>>第一學期</option>
                <option value="2" <%= configs.get("Term") == 2 ? "selected" : "" %>>第二學期</option>
              </select>
              <span class="input-group-text bg-transparent fs-2">是否開放申請宿舍</span>
              <select class="form-select fs-2" name="allowReg">
                <option value="0" <%= configs.get("allow_register") == 0 ? "selected" : "" %>>不開放</option>
                <option value="1" <%= configs.get("allow_register") == 1 ? "selected" : "" %>>開放</option>
              </select>
              <button onclick="$('#sysSettings').submit()" style="border-radius:0;" class="button save fs-2"><i class="material-icons fs-2">save</i></button>
            </form>
            <form autocomplete="off" class="input-group" method="post" action="/updateSetting" id="updateAdmin">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
              <span class="input-group-text bg-transparent fs-2">修改帳號</span>
              <input type="text" class="form-control fs-2" maxlength="500" name="ownerAcc" value="<%= configs.get("owner_account") %>"/>
              <span class="input-group-text bg-transparent fs-2">修改密碼</span>
              <input type="text" class="form-control fs-2" maxlength="500" name="ownerPass" value="<%= configs.get("owner_password") %>"/>
              <button onclick="$('#updateAdmin').submit()" style="border-radius:0;" class="button edit fs-2">修改帳號密碼</button>
            </form>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function roomlist(S_ID) {
    selected = $("#dormList" + S_ID + " :selected").val();
    $("#roomlist" + S_ID).prop('disabled', true);
    if (selected != 'null') $("#roomlist" + S_ID).prop('disabled', false);
    $("#roomlist" + S_ID).empty().append(new Option("無房間", null));
    switch (selected) {
      <% for ( i=0 ; i < dormitories.length ; i++){ %>
      case '<%= dormitories[i].D_ID %>':
        <% roomData = rooms.get(dormitories[i].D_ID) %><% if (roomData != undefined) { %><%- roomData.map(x => {return `$("#roomlist" + S_ID).append(new Option('${x[0]}', '${x[0]}'));`}).join("\n") %>
        break;
        <% } %><% } %>
    }
  }

  function deleteRoomContent(RC_ID) {
    $("#delRoomContent input")[1].value = RC_ID
    $("#delRoomContent").submit();
  }

  function editRoomContent(RC_ID) {
    $("#editRoomContent" + RC_ID).show();
    $("#roomContent" + RC_ID).hide();
  }

  function vaildateRoomContentEdit(RC_ID) {
    checker = true;
    for (i = 0; i < 2; i++) {
      tmp = $("#editRoomContent" + RC_ID + " input")[i].value.trim();
      if (tmp == "") return true;
      if (tmp != $("#roomContent" + RC_ID + " td")[i].innerText.trim()) {
        checker = false;
      }
    }
    return checker;
  }

  function saveRoomContent(RC_ID) {
    if (vaildateRoomContentEdit(RC_ID)) {
      $("#editRoomContent" + RC_ID).hide();
      $("#roomContent" + RC_ID).show();
      for (i = 0; i < 2; i++) {
        $("#editRoomContent" + RC_ID + " input")[i].value = $("#roomContent" + RC_ID + " td")[i].innerText.trim();
      }
    } else {
      for (i = 0; i < 2; i++) {
        $("#updateRoomContent input")[i].value = $("#editRoomContent" + RC_ID + " input")[i].value;
      }
      $("#updateRoomContent input")[3].value = RC_ID;
      $("#updateRoomContent").submit();
    }
  }
  <% if (level=="管理員") { %>

  function editManager(M_ID) {
    $("#ManagerEdit" + M_ID).show();
    $("#ManagerRecord" + M_ID).hide();
  }

  function vaildateManagerEdit(M_ID) {
    checker = true;
    for (i = 0; i < 5; i++) {
      tmp = $("#ManagerEdit" + M_ID + " td input")[i].value.trim();
      if (tmp == "") return true;
      if (tmp != $("#ManagerRecord" + M_ID + " td")[i].innerText.trim()) {
        checker = false;
      }
    }
    return checker;
  }

  function saveManager(M_ID) {
    if (vaildateManagerEdit(M_ID)) {
      $("#ManagerEdit" + M_ID).hide();
      $("#ManagerRecord" + M_ID).show();
      for (i = 0; i < 5; i++) {
        $("#ManagerEdit" + M_ID + " td input")[i].value = $("#ManagerRecord" + M_ID + " td")[i].innerText;
      }
    } else {
      for (i = 0; i < 5; i++) {
        $("#updateManager input")[i + 1].value = $("#ManagerEdit" + M_ID + " td input")[i].value;
      }
      $("#updateManager input")[6].value = $("#ManagerRecord" + M_ID + " td")[0].innerText;
      $("#updateManager").submit();
    }
  }

  function addManagerValidate() {
    for (i = 1; i <= 5; i++) {
      if ($("#addManager input")[i].value.trim() == "") {
        event.preventDefault();
        return false;
      }
    }
    return true;
  }

  function editStudent(S_ID) {
    $("#StudentEdit" + S_ID).show();
    $("#StudentRecord" + S_ID).hide();
  }

  function saveStudent(S_ID) {
    if (vaildateStudentEdit(S_ID)) {
      $("#StudentEdit" + S_ID).hide();
      $("#StudentRecord" + S_ID).show();
      for (i = 0; i < 7; i++) {
        $("#StudentEdit" + S_ID + " td input")[i].value = $("#StudentRecord" + S_ID + " td")[i == 6 ? 9 : i].innerText;
      }
    } else {
      for (i = 0; i < 7; i++) {
        $("#updateStudent input")[i + 1].value = $("#StudentEdit" + S_ID + " td input")[i].value;
      }
      for (i = 7; i < 10; i++) {
        tmp = $("#StudentEdit" + S_ID + " td select")[i - 7].value
        if (tmp == 'null') $("#updateStudent input")[i + 1].disabled = true;
        else $("#updateStudent input")[i + 1].value = tmp;
      }
      $("#updateStudent input")[11].value = $("#StudentRecord" + S_ID + " td")[0].innerText;
      $("#updateStudent").submit();
    }
  }

  function vaildateStudentEdit(S_ID) {
    checker = true;
    for (i = 0; i < 7; i++) {
      tmp = $("#StudentEdit" + S_ID + " td input")[i].value.trim();
      if (i == 6) i = 9;
      if (tmp == "") return true;
      if (tmp != $("#StudentRecord" + S_ID + " td")[i].innerText.trim()) checker = false;
    }
    if ($("#StudentEdit" + S_ID + " td select")[0].value != $("#StudentRecord" + S_ID + " td div")[0].innerText) checker = false;
    if ($("#StudentEdit" + S_ID + " td select")[1].value != $("#StudentRecord" + S_ID + " td div")[1].innerText) checker = false;
    if ($("#StudentEdit" + S_ID + " td select")[2].value != $("#StudentRecord" + S_ID + " td div")[2].innerText) checker = false;
    return checker;
  }
  <% } %>

  function editViolation(V_ID) {
    $("#ViolateRecord" + V_ID).hide();
    $("#ViolateEdit" + V_ID).show();
  }

  function vaildateViolation(V_ID) {
    checker = true;
    for (i = 0; i < 3; i++) {
      tmp = $("#ViolateEdit" + V_ID + " td input")[i].value.trim();
      if (tmp == "") return true;
      if (i == 2){if (tmp != $("#ViolateRecord" + V_ID + " td div")[0].innerText.trim()) checker = false;}
      else if (tmp != $("#ViolateRecord" + V_ID + " td")[i].innerText.trim()) checker = false;
    }
    return checker;
  }

  function saveViolation(V_ID) {
    if (vaildateViolation(V_ID)) {
      $("#ViolateRecord" + V_ID).show();
      $("#ViolateEdit" + V_ID).hide();
      for (i = 0; i < 3; i++) {
        $("#ViolateEdit" + V_ID + " td input")[i].value = $("#ViolateRecord" + V_ID + " td")[i].innerText;
      }
    } else {
      for (i = 0; i < 3; i++) {
        $("#updateViolation input")[i+1].value = $("#ViolateEdit" + V_ID + " td input")[i].value;
      }
        $("#updateViolation input")[4].value = V_ID;
      $("#updateViolation").submit();
    }
  }
</script>