<% layout('layout') %>

<%- include header %>

<div id="content" class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card border-light">
        <ul class="nav nav-pills nav-fill" id="myTab" role="tablist" style="border-bottom: 1px solid white;">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#dormitories" type="button" aria-selected="true">宿舍管理</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#managers" type="button">管理員管理</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#students" type="button">學生列表管理</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#registers" type="button">宿舍申請管理</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="dormitories">
            <table>
              <tr>
                <th>D_ID</th>
                <th>Name</th>
              </tr>
              <% for ( var i=0 ; i < dormitories.length ; i++){ %>
              <tr>
                <td>
                  <%= dormitories[i].D_ID %>
                </td>
                <td>
                  <%= dormitories[i].Name %>
                </td>
              </tr>
              <% } %>
            </table>

            <table>
              <tr>
                <th>R_ID</th>
                <th>D_ID</th>
                <th>Peoples</th>
                <th>Costs</th>
              </tr>
              <% for ( var i=0 ; i < rooms.length ; i++){ %>
              <tr>
                <td>
                  <%= rooms[i].R_ID %>
                </td>
                <td>
                  <%= rooms[i].D_ID %>
                </td>
                <td>
                  <%= rooms[i].Peoples %>
                </td>
                <td>
                  <%= rooms[i].Costs %>
                </td>
              </tr>
              <% } %>
            </table>


            <table>
              <tr>
                <th>RC_ID</th>
                <th>R_ID</th>
                <th>Name</th>
                <th>Amount</th>
              </tr>
              <% for ( var i=0 ; i < room_contents.length ; i++){ %>
              <tr>
                <td>
                  <%= room_contents[i].RC_ID %>
                </td>
                <td>
                  <%= room_contents[i].R_ID %>
                </td>
                <td>
                  <%= room_contents[i].Name %>
                </td>
                <td>
                  <%= room_contents[i].Amount %>
                </td>
              </tr>
              <% } %>
            </table>
          </div>
          <div class="tab-pane fade" id="managers">
            <form name="add_manager" action="add_manager" method="post">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <div>
                <label for="M_ID">Enter your M_ID: </label>
                <input type="text" name="M_ID" id="M_ID" placeholder="M_ID" required>
              </div>
              <div>
                <label for="Name">Enter your Name: </label>
                <input type="text" name="Name" id="Name" placeholder="Name" required>
              </div>
              <div>
                <label for="Email">Enter your Email: </label>
                <input type="email" name="Email" id="Email" placeholder="Email" required>
              </div>
              <div>
                <label for="Phone">Enter your Phone: </label>
                <input type="text" name="Phone" id="Phone" placeholder="Phone" required>
              </div>
              <div>
                <label for="Password">Enter your Password: </label>
                <input type="text" name="Password" id="Password" placeholder="Password" required>
              </div>
              <div>
                <input type="submit" name="submit" value="add">
                <input type="reset" value="Reset">
              </div>
            </form>

            <table>
              <tr>
                <th>M_ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Password</th>
              </tr>
              <% for ( var i=0 ; i < managers.length ; i++){ %>
              <tr>
                <td>
                  <%= managers[i].M_ID %>
                </td>
                <td>
                  <%= managers[i].Name %>
                </td>
                <td>
                  <%= managers[i].Email %>
                </td>
                <td>
                  <%= managers[i].Phone %>
                </td>
                <td>
                  <%= managers[i].Password %>
                </td>
              </tr>
              <% } %>
            </table>
          </div>
          <div class="tab-pane fade" id="students">
            <table>
              <tr>
                <th>S_ID</th>
                <th>Name</th>
                <th>Year</th>
                <th>Dept_Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Sex</th>
                <th>R_ID</th>
                <th>Password</th>
              </tr>
              <% for ( var i=0 ; i < students.length ; i++){ %>
              <tr>
                <td>
                  <%= students[i].S_ID %>
                </td>
                <td>
                  <%= students[i].Name %>
                </td>
                <td>
                  <%= students[i].Year %>
                </td>
                <td>
                  <%= students[i].Dept_Name %>
                </td>
                <td>
                  <%= students[i].Email %>
                </td>
                <td>
                  <%= students[i].Phone %>
                </td>
                <td>
                  <%= students[i].Sex %>
                </td>
                <td>
                  <%= students[i].R_ID %>
                </td>
                <td>
                  <%= students[i].Password %>
                </td>
              </tr>
              <% } %>
            </table>
          </div>
          <div class="tab-pane fade" id="registers">
            <table>
              <tr>
                <th>Reg_ID</th>
                <th>S_ID</th>
                <th>Year</th>
                <th>Term</th>
                <th>When</th>
                <th>Approved</th>
                <th>Payment</th>
              </tr>
              <% for ( var i=0 ; i < registers.length ; i++){ %>
              <tr>
                <td>
                  <%= registers[i].S_ID %>
                </td>
                <td>
                  <%= registers[i].Name %>
                </td>
                <td>
                  <%= registers[i].Year %>
                </td>
                <td>
                  <%= registers[i].Dept_Name %>
                </td>
                <td>
                  <%= registers[i].Email %>
                </td>
                <td>
                  <%= registers[i].Phone %>
                </td>
                <td>
                  <%= registers[i].Sex %>
                </td>
              </tr>
              <% } %>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>